venv/
.vscode/
__pycache__/
*.pyc
*.swp
*.log
*.swo
client_secrets.json
config.ini
*.db
.venv/
target/
.idea/
build/
node_modules/
.env
*.rdb
tailwind-css-sidebar.zip
*.epub
*.zip
index.html
main.js
style.css
books.js
*.jpg
whoosh_index/